.paginationContainer {
    display: inline-flex;
    list-style-type: none;
    background: #FFFFFF;
    border-radius: 5px;
    color: #62636D;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
}

.paginationItem {
    display: flex;
    height: 36px;
    width: 33px;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEE2E6;
    border-left: none;
}

.paginationItem.dots:hover {
    background-color: transparent;
    cursor: default;
}

.paginationItem:hover {
    background-color: #DEE2E6;
    cursor: pointer;
}

.paginationItem.selected {
    background-color: #DEE2E6;
}

.arrow::before {
    width: 5px;
    height: 8px;
    content: " ";
    background: center no-repeat url("../../../../public/icons/arrow.svg");
}

.doubleArrow, .arrow {
    display: flex;
}

.doubleArrow::before {
    width: 9px;
    height: 8px;
    content: " ";
    background: center no-repeat url("../../../../public/icons/doubleArrow.svg");
}

.arrow.right::before {
    transform: rotate(180deg);
    border-right: 1px solid #DEE2E6;
}

.doubleArrow.left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 1px solid #DEE2E6;
}

.doubleArrow.right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.doubleArrow.right::before {
    transform: rotate(180deg);
    border-right: none;
}

.paginationItem.disabled,
.paginationItem.disabled:hover {
    pointer-events: none;
    cursor: default;
}