.container {
    display: flex;
    margin: 25px 0;
}

.image {
    object-fit: cover;
    flex: 0 0 auto;
    margin-right: 25px;
}

.infoContainer {
    flex: 1 1 50%;
}

.description {
    font-size: 16px;
}

.special {
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.sizeSelector {
    margin-top: 20px;
}

.addButton {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }

    .infoContainer {
        display: block;
        margin-top: 20px;
    }

    .image {
        margin: 0;
        height: 100%;
        width: 100%;
    }
}