.title {
    font-size: 16px;
    font-weight: 600;
}

.sizeItem {
    display: flex;
    margin-top: 5px;
    align-items: center;
}

.input {
    margin: 0;    
}

.sizeName {
    margin-left: 5px;
}